<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
</head>
<body>
    <h2>Recommended Products</h2>
    <h2>Recommended Products</h2>
<ul>
    {% for product in data %}
        <li>
            <a href="{{ product['url'] }}">{{ product['name'] }}</a> - Price: {{ product['Price'] }}, Favorites: {{ product['favorites'] }}, Reviews: {{ product['numberOfReviews'] }}
        </li>
    {% endfor %}
</ul>
    <a href="/">Go back</a>
</body>
</html>
